body {
    color: #1c1618;
    background-color: #D9DADC;
}

.article {
    padding: 4em 0;
}

.background--img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background--opaque {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    margin-right: -15px;
    margin-left: -15px;
}

.background--dark {
    background-color: #241F20;
}

.background--grey {
    background-color: #D9DADC;
}

.background--red {
    background-color: #D2232A;
}

.background--shaded {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4));
}

.background--tan {
    background-color: #F1F1F2;
}

.background--white {
    background-color: #fff;
}

.btn-primary {
    border-radius: 0;
    background-color: #D2232A;
    border: 1px solid #D2232A;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #9F0000;
    border: 1px solid #9F0000;
}

.community-posts {
    height:300px;
    overflow:auto;
}

.container {
    background-color: #fff;
}

.contentblock {
    min-height: 250px;
}

.header-row {
    position:sticky;
    top: 0;
    z-index: 1000;
}
.header-row img {
    height: 56px;
    float: left;
}

.header-row nav {
    padding-left: 2em;
}

.header-row * {
    padding-left:0;
    padding-right:0;
}

.home-content {
    color: #fff;
    height: 300px;
    padding-top: 4em;
}

.jumbotron {
    margin-bottom: 0;
    background: none;
    color: #fff;
    border-radius: 0;
}

.leftright .content {
    padding-top: 2em;
    padding-bottom: 2em;
}

.primary-footer a {
    color:white;
}

.separator {
    height: 1em;
}