body {
    color: #1c1618;
    background-color: #D9DADC;
}

.background--img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background--opaque {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    margin-right: -15px;
    margin-left: -15px;
}

.background--dark {
    background-color: #241F20;
}

.background--grey {
    background-color: #D9DADC;
}

.background--none {
    background: none !important;
}

.background--red {
    background-color: #D2232A;
}

.background--shaded {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4));
}

.background--tan {
    background-color: #F1F1F2;
}

.background--white {
    background-color: #fff;
}

.btn-primary {
    border-radius: 0;
    background-color: #D2232A;
    border: 1px solid #D2232A;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #9F0000;
    border: 1px solid #9F0000;
}

.community-posts {
    height:408px;
    overflow:auto;
}

.container {
    background-color: #fff;
}

.contentblock {
    min-height: 250px;
}

.event-summary .col-sm-6 {
    height: 200px;
}

.header-row {
    position:sticky;
    top: 0;
    z-index: 1000;
}

.header-row img {
    height: 56px;
    float: left;
}

.header-row nav {
    padding-left: 2em;
}

.header-row * {
    padding-left:0;
    padding-right:0;
}

.home-content {
    color: #fff;
    height: 300px;
    padding-top: 4em;
}

.jumbotron {
    margin-bottom: 0;
    background: none;
    color: #fff;
    border-radius: 0;
}

.leftright--image {
    min-height:200px;
}

.padded-content {
    padding: 4em 0;
}

.primary-footer a {
    color:white;
}

.separator {
    height: 1em;
}

#topnav .nav-link:after {
    content: '|';
    padding-left: .5rem;
}

#topnav li:last-child .nav-link:after
{
  content: '';
}

@media screen and (max-width: 990px) {
    #topnav .nav-link:after {
        content: '';
    }
}