body {
    color: #323232;
    background-color: #f5f5f5;
}

a {
    color: #326ec8;
}

.agenda--date {
    width: 170px;
}
.agenda--date .dayofmonth {
  width: 50px;
  font-size: 36px;
  line-height: 36px;
  float: left;
  text-align: right;
  margin-right: 10px; 
}
.agenda--date .shortdate {
  font-size: 0.75em; 
}

.agenda--time {
    width: 140px;
}

.background--img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 150px;
}

.background--opaque {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
    margin-left: -15px;
    margin-right: -15px;
}

.background--pad {
    padding: 0 15px;
}

.background--dark {
    background-color: #868e96;
    color: white;
    border: 1px solid #868e96;
    border-radius: 3px;
}

.background--dark a {
    color: white;
}


.primary-footer {
    background-color: #000 !important;
    color: #8e8e8e;
}

.background--grey {
    background-color: #D9DADC;
}

.background--none {
    background: none !important;
}

.background--red {
    background-color: #D2232A;
}

.background--shaded {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.4));
}

.background--tan {
    background-color: #F1F1F2;
}

.background--white {
    background-color: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 3px;
}

.btn-primary {
    border-radius: 0;
    background-color: #D2232A;
    border: 1px solid #D2232A;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #9F0000;
    border: 1px solid #9F0000;
}

.btn-secondary {
    border-radius: 0;
}

#card-element {
	line-height: 24px;
	padding: 1em;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
}

.community-posts {
    overflow:auto;
}

.community-posts .articlesummary {
    border-bottom: solid 1px #E1E1E1;
}

.community-posts .articlesummary:last-child {
    border-bottom: none;
}

.communityupdate__engage h3 {
    display: inline-block;
    float: left;
    font-size: 4em;
    padding: .2em;
    padding-left: 0;
}

.communityupdate__engage p {
    margin-top: 1rem;
}

.communityupdate__header {
    text-transform: uppercase;
}

.container > .row:last-child {
    margin-bottom: 3rem;
}

.contentblock {
    margin-top: 3rem;
}

.event-summary .col-sm-6 {
    height: 200px;
}

.eventfeature__header  {
    text-transform: uppercase;
    text-decoration: underline;
    color: #323232;
}

fieldset {
    margin: 2em 0;
}

.google-map {
    height: 400px;
}

.header-row {
    position:sticky;
    padding: 1em 0;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
}

.header-row .nav-link {
    padding: 0 .5em;
}

.header-row li {
    padding: 0 10px;
    border-left: solid 1px black;
}

.header-row li:first-child{
    border-left: none;
}

.header-row img {
    height: 56px;
    float: left;
}

.header-row nav {
    padding-left: 2em;
}

.header-row * {
    padding-left:0;
    padding-right:0;
}

.home-content {
    color: #fff;
    height: 300px;
    padding-top: 4em;
}

.home-video {
    height: 540px;
    background-color: #eee; 
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-video__container {
    width: 100%;
    height: 100%;
    max-height: 540px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}

.home-video__header-background {
    margin: 0 -15px;
    height: 100%;
    max-height: 540px;
    overflow: hidden;
    position: relative;
    color: white;
    display: flex;
}

.home-video__header-container {
    align-self: flex-end;
}

.home-video__video {
    min-width: 100%;
}

.jumbotron--light {
    margin-bottom: 0;
    background: none;
    color: #fff;
    border-radius: 0;
}

.leftright--image {
    min-height:200px;
}

.meetup--item .agenda--date {
    float:left;
}

.padded-content {
    padding: 4em 1em;
    background-color:white;
    min-height: 600px;
}

.post header {
    color: white;
}

.post header .cover {
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}

.post header a {
    color: white;
}

.separator {
    height: 1em;
}

.supportlist__cta {
    margin-left: 25px;
}

.supportlist__list {
    border-left: 1px solid #E1E1E1;
}

.supportlist__list li:before {
    font-family: 'FontAwesome';
    content: '\f061';
    margin:0 5px 0 -15px;
}

.supportlist__list ul {
    list-style:none;
}

#topnav li {
  padding: 0 .5em;
}

@media screen and (max-width: 990px) {
    .header-row img {
        float: left;
        position: absolute;
    }
    .header-row li {
        border-left: none;
    }
    .header-row .nav-link {
        padding: .5em;
    }
    .supportlist__list {
        border-left: none;
    }
    
    #topnav .nav-link:after {
        content: '';
    }
}