<ul class="nav navbar-nav flex-row ml-md-auto d-none d-md-flex" >
    <li class="nav-item">
        <a class="btn btn btn-outline-primary px-5" href="/members.html">Hi {{profile.name}}</a>
    </li>
</ul>