
/*!
 * Color definitions
 */

$darkestgray: rgb(51, 51, 51);
$dark-gray: rgb(159, 159, 159);
$light-gray: rgb(222, 222, 222);
$lightest-gray: rgb(237, 237, 237);
$red: rgb(168, 0, 35);
$dark-red: rgb(132, 0, 27);

/*!
 * Style overrides
 */

body {
	color: $darkestgray;
	background-color: $lightest-gray;
}

a {
	color: $red;
}

a:hover,
a:active {
	color: $dark-red;
}

.accordion .card-header, .overflow-scroll {
	overflow: scroll;
}

.agenda--date {
	width: 170px;
}

.agenda--date .dayofmonth {
	width: 50px;
	font-size: 36px;
	line-height: 36px;
	float: left;
	text-align: right;
	margin-right: 10px;
}

.agenda--date .shortdate {
	font-size: 0.75em;
}

.agenda--time {
	width: 140px;
}

.background--img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 150px;
}

.background--img-full {
	min-height: 0;
    position: relative;
    height: 92vh;
    padding-top: 0px;
}

.background--img-full .jumbotron {
    height: 92vh;
    padding-top: 250px;
}

.background-img-full .display-3 {
	font-size: 4.5rem;
    font-weight: 500;
}

.background--img-full .lead {
	font-size: 2rem;
}

.background--opaque {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
	margin-left: -15px;
	margin-right: -15px;
}

.background--pad {
	padding: 0 15px;
}

.background--dark {
	background-color: $darkestgray;
	color: white;
	border: 1px solid $darkestgray;
	border-radius: 3px;
}

.background--dark a {
	color: white;
}

.background--grey {
	background-color: $dark-gray;
}

.background--none {
	background: none !important;
}

.background--red {
	background-color: $red;
}

.background--shaded {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}

.background--white {
	background-color: #fff;
	border: 1px solid $light-gray;
	border-radius: 3px;
	color: #333333;
}

.breadcrumb {
	background-color: transparent;
	padding: .75rem 0;
	margin-bottom: 0;
}

.btn-primary,
.btn-success {
	border-radius: 0;
	background-color: $red;
	border: 1px solid $red;
}

.btn-primary:hover,
.btn-primary:active,
.btn-success:hover,
.btn-success:active {
	background-color: $dark-red;
	border: 1px solid $dark-red;
}

.btn-secondary {
	border-radius: 0;
}

#card-element {
	line-height: 24px;
	padding: 1em;
	border: 1px solid $dark-gray;
	border-radius: 3px;
}

img.card-img-top {
    object-fit: cover !important;
    height: 10vw !important;
}

.carousel-control-prev,
.carousel-control-next {
	background-color: rgba(0, 0, 0, .05);
}

.community-posts {
	overflow: auto;
}

.community-posts .articlesummary {
	border-bottom: solid 1px $dark-gray;
}

.community-posts .articlesummary:last-child {
	border-bottom: none;
}

.communityupdate__engage h3 {
	display: inline-block;
	font-size: 4em;
	padding: .2em;
	padding-left: 0;
}

.communityupdate__engage p {
	margin-top: 1rem;
}

.communityupdate__header {
	text-transform: uppercase;
}

.container>.row:last-child {
	margin-bottom: 3rem;
}

.contentblock {
	margin-top: 3rem;
}

.event-summary .col-sm-6 {
	height: 200px;
}

.eventfeature__header {
	text-transform: uppercase;
	text-decoration: underline;
	color: #323232;
}

fieldset {
	margin: 2em 0;
}

.google-map {
	height: 400px;
}

.header-row {
	position: sticky;
	padding: 1em 0;
	top: 0;
	z-index: 1000;
	background-color: white;
	border-bottom: 1px solid $dark-gray;
}

.header-row .nav-link {
	padding: 0 .5em;
}

.header-row li {
	padding: 0 10px;
	border-left: solid 1px black;
}

.header-row li:first-child {
	border-left: none;
}

.header-row img {
	height: 56px;
	float: left;
	padding: 0 1em;
}

.header-row nav {
	padding-left: 2em;
}

.header-row * {
	padding-left: 0;
	padding-right: 0;
}

.home-content {
	color: #fff;
	height: 300px;
	padding-top: 4em;
}

.home-video {
	height: 540px;
	background-color: white;
	background-position: center;
	background-size: cover;
	position: relative;
}

.home-video__container {
	width: 100%;
	height: 100%;
	max-height: 540px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
}

.home-video__header-background {
	margin: 0 -15px;
	height: 100%;
	max-height: 540px;
	overflow: hidden;
	position: relative;
	color: white;
	display: flex;
}

.home-video__header-container {
	align-self: flex-end;
}

.home-video__video {
	min-width: 100%;
}

.jumbotron--light {
	margin-bottom: 0;
	background: none;
	color: #fff;
	border-radius: 0;
}

.leftright--image {
	min-height: 200px;
}

.membership__box {
	background-color: $lightest-gray;
	border-color: $dark-gray;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	cursor: pointer;
    display: flex;
    flex-direction: column;
}

.membership__box>* {
	margin: 1em;
}

.membership__box .btn {
    margin-top: auto;
    align-self: flex-start;
}

.membership__box input {
	display: none;
}

.membership__box strong {
	padding: 10px;
	font-size: x-large;
	border-bottom: 1px solid $darkestgray;
	margin: 0;
	display: block;
}

.membership__box p {
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 1em;
}

.membership__box p:first-of-type {
	color: $red;
	margin-top: 1em;
}

.membership__box.membership--active .text-success {
	display: block;
}

.membership__box .text-success {
	display: none;
}

.membership__box ul {
	padding: 1em 0 1em 1em;
	margin: 0 1em;
}

.membership--active {
	border-color: $darkestgray;
}

.meetup--item .agenda--date {
	float: left;
}

.padded-content {
	padding: 4em 1em;
	background-color: white;
	min-height: 600px;
}

.post header {
	color: white;
}

.post header .cover {
	min-height: 300px;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
}

.post header a {
	color: white;
}

.primary-footer {
	background-color: $darkestgray;
	color: white;
}

.separator {
	height: 1em;
}

.supportlist__cta {
	margin-left: 25px;
}

.supportlist__list {
	border-left: 1px solid $lightest-gray;
}

.supportlist__list li:before {
	font-family: 'FontAwesome';
	content: '\f061';
	margin: 0 5px 0 -15px;
}

.supportlist__list ul {
	list-style: none;
}

#topnav li {
	padding: 0 .5em;
}

.wysiwyg-font-size-smaller {
	font-size:small;
}

@media screen and (max-width: 990px) {
	.header-row img {
		float: left;
		position: absolute;
	}
	.header-row li {
		border-left: none;
	}
	.header-row .nav-link {
		padding: .5em;
	}
	.supportlist__list {
		border-left: none;
	}
	#topnav .nav-link:after {
		content: '';
	}
}
