<div class="event-summary row my-2 mr-md-0 mr-lg-0 mr-xl-0">
    <div class="col-sm-6 background--img" style="background-image: url({{event.image}})">
    </div>
    <div class="col-sm-6 background--white">
        <div>
            <div class="my-2">
                <div class="lead">
                    <a href="{{event.url}}">
                        {{event.title}}
                    </a>
                </div>
                <div>
                    {{ event.date | date: site.time_format }}
                </div>
            </div>
            <div class="text-small">
                {{ event.content | strip_html | truncatewords: 20 }}
                <a href="{{event.url}}">More</a>
            </div>
        </div>
    </div>
</div>