 <ul class="nav flex-column" role="navigation">
    <li class="nav-item">
        <a class="nav-link lead" href="/learn.html">
            Learn
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/learn/articles.html">Community Articles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/learn/articles/submit.html">Submit an Article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/learn/library.html">Knowledge Library</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/learn/webcasts.html">Webcasts</a>
    </li>
</ul>