<ul class="navbar-nav">
    {% if page.url == '/' %}
        <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
        </li>
    {% endif %}
    {% if page.url == '/learn.html' or page.url contains '/learn/' %}
        <li class="nav-item active">
                <a class="nav-link" href="/learn.html">Learn <span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item">
                <a class="nav-link" href="/learn.html">Learn</a>
        </li>
    {% endif %}
    {% if page.url == '/community.html' or page.url contains '/community/' %}
        <li class="nav-item active">
                <a class="nav-link" href="/community.html">Community <span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item">
                <a class="nav-link" href="/community.html">Community</a>
        </li>
    {% endif %}
    {% if page.url == '/events.html' or page.url contains '/events/' %}
        <li class="nav-item active">
                <a class="nav-link" href="/events.html">Events <span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item">
                <a class="nav-link" href="/events.html">Events</a>
        </li>
    {% endif %}
    {% if page.url == '/about.html' or page.url contains '/about/' %}
        <li class="nav-item active">
                <a class="nav-link" href="/about.html">About <span class="sr-only">(current)</span></a>
        </li>
    {% else %}
        <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
        </li>
    {% endif %}
</ul>

<ul class="nav navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
        <a class="btn btn btn-outline-secondary px-5" href="/join.html">Join</a>
    </li>
</ul>