<div id="events-carousel" class="carousel slide row my-2" data-ride="carousel">
    <div class="ajax--load carousel-inner" data-src="/events.json" data-tpl="event-carousel" data-filter="[{&quot;key&quot;: &quot;event_date&quot;, &quot;method&quot;: &quot;future&quot;},{&quot;key&quot;: &quot;featured&quot;, &quot;value&quot;: true}]">
        <div class="ajax--loader text-center">
            <i class="my-4 fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
    <a class="carousel-control-prev" href="#events-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#events-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>