<div class="col-12 background--white">
    {% if cb.title %}
        <h3 class="my-4">
            {{ cb.title }}
        </h3>
    {% endif %}
    <form class="group--location-search">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label for="address" class="sr-only">Address</label>
                <input type="text" class="form-control" name="address" />
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Find Groups</button>
            </div>
        </div>
    </form>
    <br/><hr/><br/>
    <div class="ajax--load group--container" data-src="/community/groups.json" data-tpl="group-list">
        <div class="ajax--loader text-center">
            <i class="my-4 fa fa-refresh fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
</div>