<div class="container-fluid">
    <div class="row">
        <div class="col-12 home-video" style="background-image: url('{{page.background_image}}');">
            <div class="home-video__container">
                <video autoplay loop muted class="home-video__video">
                    <source src="{{page.background_video}}" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="background--opaque home-video__header-background">
                <div class="container home-video__header-container py-5">
                    <h1 class="display-3">
                        {% if page.header %}
                            {{page.header}}
                        {% else %}
                            {{page.title}}
                        {% endif %}
                    </h1>
                    {% if page.lead %}
                        <p class="lead">
                            {{page.lead}}
                        </p>
                    {% endif %}
                    {% if page.cta %}
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="{{page.link}}" role="button">
                                {{page.cta}}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>