<div class="row">
    <div class="col-12 background--img" style="background-image: url({{page.background_image}})">
        <div class="background--opaque">
            <div class="jumbotron jumbotron--light container">    
                <h1 class="display-3">
                    {% if page.header %}
                        {{page.header}}
                    {% else %}
                        {{page.title}}
                    {% endif %}
                </h1>
                {% if page.lead %}
                    <p class="lead">
                        {{page.lead}}
                    </p>
                {% endif %}
                {% if page.cta %}
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{page.link}}" role="button">
                            {{page.cta}}
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>