<div class="col-12 p-4 {{cb.background}} supportlist">
    <div class="row">
        <div class="col-md-8 supportlist__lead lead">
            {{cb.content}}
        </div>
        <div class="col-md-4 supportlist__list">
            <ul>
                {% for item in cb.items %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
            <a href="{{cb.link}}" class="btn btn-primary supportlist__cta">
                {{cb.cta}}
            </a>
        </div>
    </div>
</div>