<div class="col-md-4 text-center {{cb.background}}">
    <img src="{{cb.image1}}" class="mx-auto d-block" />
    <h4>{{cb.header1}}</h4>
    <p>
        {{cb.text1}}
    </p>
    <a class="btn btn-secondary" href="{{cb.link1}}">
        {{cb.cta1}}
    </a>
</div>
<div class="col-md-4 text-center {{cb.background}}">
    <img src="{{cb.image2}}" class="mx-auto d-block" />
    <h4>{{cb.header2}}</h4>
    <p>
        {{cb.text2}}
    </p>
    <a class="btn btn-secondary" href="{{cb.link2}}">
        {{cb.cta2}}
    </a>
</div>
<div class="col-md-4 text-center {{cb.background}}">
    <img src="{{cb.image3}}" class="mx-auto d-block" />
    <h4>{{cb.header3}}</h4>
    <p>
        {{cb.text3}}
    </p>
    <a class="btn btn-secondary" href="{{cb.link3}}">
        {{cb.cta3}}
    </a>
</div>