<div class="row mb-2 text-center justify-content-center">
    <div class="col-md-4 px-0">
        <div class="p-4 mr-2 {{cb.background}}">
            <img src="{{cb.image1}}" class="mx-auto my-4 d-block" />
            <h4>{{cb.header1}}</h4>
            <p>
                {{cb.text1}}
            </p>
            {% if cb.cta1 %}
                <a class="btn btn-secondary" href="{{cb.link1}}">
                    {{cb.cta1}}
                </a>
            {% endif %}
        </div>
    </div>
    {% if cb.header2 %}
        <div class="col-md-4 px-0">
            <div class="p-4 mr-2 {{cb.background}}">
                <img src="{{cb.image2}}" class="mx-auto my-4 d-block" />
                <h4>{{cb.header2}}</h4>
                <p>
                    {{cb.text2}}
                </p>
                {% if cb.cta2 %}
                    <a class="btn btn-secondary" href="{{cb.link2}}">
                        {{cb.cta2}}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% if cb.header3 %}
        <div class="col-md-4 px-0">
            <div class="p-4 {{cb.background}}">
                <img src="{{cb.image3}}" class="mx-auto my-4 d-block" />
                <h4>{{cb.header3}}</h4>
                <p>
                    {{cb.text3}}
                </p>
                {% if cb.cta3 %}
                    <a class="btn btn-secondary" href="{{cb.link3}}">
                        {{cb.cta3}}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>