<h4>Why AGC</h4>
<p>
    As a member of the Adobe Global Community, you are more than just member of a user group. You become part of a community of fellow Adobe Practitioners, with a front-row seat for the future. You will be in the company of forward-thinking professionals, shaping the experiences of tomorrow. That’s what AGC is all about.
</p>
<h4>Benefits of Being an AGC Member</h4>
<p>
    Becoming a member of the Adobe Global Community comes with many benefits including:
</p>
<ul>
    <li>A Professional Network</li>
    <li>Access to the AGC's library of resources and webinars</li>
    <li>Access to Adobe via the ACG Influence Council</li>
    <li>Discount prices for Adobe Summit</li>
    <li>A monthly digest of the latest and greatest in the Adobe Ecosystem</li>
</ul>
<h4>How much does membership cost?</h4>
<p>
    Membership is free. Just sign up and become a member of the Adobe Global Community!
</p>