---
layout: content-page
---

<article class="post" typeof="BlogPosting">
    <header class="background--img" style="background-image: url({{page.image}})">
        <div class="cover p-4">
            <h1 class="mt-0" property="headline">
                <a href="{{page.original}}" target="_blank" rel="noopener">{{ page.title }}</a>
            </h1>
            <em>
                Published on <time datetime='{{page.date | date: "%Y-%m-%d"}}'>
                <span property="datePublished">{{page.date | date: "%B %d, %Y"}}</span></time> by 
                <span property="publisher" typeOf="Person">
                <span property="name">{{ page.author }}</span> on {{site}}</span>
            </em>
        </div>
    </header>
    {% include share.html %}
    <hr class="my-4" />
    <div class="content">
        {{ content }}
    </div>
    {% include tags.html %}
    {% include comments.html %}
</article>