{% capture absolute_url %}{{ site.url }}{{page.url | remove: 'index.html' | replace: ' ', '%20' }}{% endcapture %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% bundle %}[ /css/bootstrap.min.css, /css/font-awesome.min.css, /css/custom.css ]{% endbundle %}
		<title>{{page.title}} | {{site.title}}</title>
		{% if page.tags %}<meta content="{{page.tags | join: ', '}}" name="keywords" />{% endif %}
		{% if page.description %}
			<meta content="{{ page.description | strip_html | truncatewords: 50 }}" name="description" />
			<meta name="twitter:description" content="{{ page.description | strip_html | truncatewords: 50  }}" />
		{% else %}
			<meta content="{{ content | strip_html | truncatewords: 50 }}" name="description" />
			<meta name="twitter:description" content="{{ content | strip_html | truncatewords: 50  }}" /> 
		{% endif %}
		{% if page.author %}
		  <meta content="{{ page.author }}" name="author" />
		{% endif %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5SQ5QW6');</script>
        <!-- End Google Tag Manager -->
		<link rel="dns-prefetch" href="//twitter.com" />
		<link rel="dns-prefetch" href="//platform.twitter.com" />
		<link rel="dns-prefetch" href="//syndication.twitter.com" />
		<link rel="dns-prefetch" href="//pbs.twimg.com" />
        <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96" />
		<meta name="theme-color" content="#f4f4f4" />
		<meta property="og:site_name" content="{{site.title}}"/>
		<meta property="og:type" content="blog"/>
		<meta property="og:title" content="{{page.title}} | {{site.title}}"/>
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{{page.title}} | {{site.title}}" />
		{% if page.image %}
			<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
			<meta name="twitter:image" content="{{ site.url }}{{ page.image }}"/>
		{% else %}
			<meta property="og:image" content="{{ site.url }}/images/logo.jpg"/>
			<meta name="twitter:image" content="{{ site.url }}/images/logo.jpg"/>
		{% endif %}
		{% if page.exclude_sitemap == true %}
			<meta property="robots" content="noindex nofollow"/>
		{% endif %}
		<meta property="og:url" content="{{absolute_url}}"/>
		<link rel="canonical" href="{{ absolute_url }}" />
		<meta name="twitter:url" content="{{ absolute_url }}" />
		<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/rss.xml" title="{{site.name}} RSS Feed" />
	</head>
	<body data-path="{{page.path}}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SQ5QW6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div class="header-row">
            <a href="/">
                <img src="/images/logo.jpg" class="img-fluid" alt="Adobe Global Community" />
            </a>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand d-lg-none" href="/">&nbsp;</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topnav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="topnav">
                    {% include topnav.html %}
                </div>
            </nav>
        </div>
        {{content}}
        <footer class="background--dark primary-footer py-3">
            <div class="container">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">&copy; Copyright 2017 &mdash; Adobe Global Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/terms.html">Terms &amp; Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="privacy-policy.html">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/adobeglobal" target="_blank" title="Follow Adobe Global Community on Twitter"><em class="fa fa-twitter"></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.meetup.com/Worldwide-Adobe-Experience-Cloud-Developer-Community/" target="_blank" title="Meet other Adobe Global Community Members!"><em class="fa fa-meetup"></em></a>
                    </li>
                </ul>
            </div>
        </footer>
        {% bundle %}[ /js/jquery-3.2.1.min.js, /js/popper.min.js, /js/bootstrap.min.js, /js/handlebars.js, /js/js-yaml.js, /js/GitHub.bundle.js, /js/custom.js ]{% endbundle %}
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCAVkmSzjVx5ByNRpNf2hNMk17hg-DLow&callback=AGC.fn.maps.initMaps"></script>
	</body>
</html>