---
layout: content-page
---

<div class="row event">
    <div class="col-sm-8">
        {% if page.image %}
            <img class="img-fluid img-thumbnail my-4 mx-auto d-block" src="{{page.image}}" alt="{{page.title}}" />
        {% endif %}
        <h1>{{page.title}}</h1>
        {% if page.presenter and page.presenter != '' %}
            <strong>Presenter:</strong> {{page.presenter}}
        {% endif %}
        <div class="event--content my-4">
            {{content}}
        </div>
        <div class="event--cta my-2">
            <a href="{{page.link}}" rel="nofollow noopen" target="_blank" class="btn btn-primary">
                {% if page.cta %}
                    {{page.cta}}
                {% else %}
                    More Info
                {% endif %}
            </a>
        </div>
        {% if page.tags %}
            <div class="event--tags my-4">
                {% include tags.html %}
            </div>
        {% endif %}
        {%include share.html %}
        {% include comments.html %}
    </div>
    <div class="col-sm-4">
        <div class="event--time my-4">
            <h4>When</h4>
            {{ page.event_date | date: site.time_format }}
        </div>
        <div class="event--location my-4">
            <h4>Where</h4>
            {% if page.location_link %}
                <a href="{{page.location_link}}" rel="nofollow noopen" target="_blank">
                    {{ page.location_name }}
                </a>
            {% else %}
                {{ page.location_name }}
            {% endif %}
        </div>
        <div class="event--type my-4">
            <h4>Event Type</h4>
            {{page.type | capitalize}}
        </div>
        <div class="event--cta my-4">
            <a href="{{page.link}}" rel="nofollow noopen" target="_blank" class="btn btn-primary">
                {% if page.cta %}
                    {{page.cta}}
                {% else %}
                    More Info
                {% endif %}
            </a>
        </div>
    </div>
</div>
