---
layout: content-page
---

<div class="row">
    <div class="col-md-8">
        <h1>{{page.title}}</h1>
        {{content}}
        {% include forms/{{page.form}}.html %}
    </div>
    <div class="col-md-4">
        <div class="alert alert-dark">
            <h4>FAQ</h4>
            <dl>
                <dt>How long will it take for submissions to be reviewed?</dt>
                <dd>Usually anywhere from 24 - 48 hours, though it depends on workload. If you don't hear anything with 48 hours, <a href="/contact.html">Contact Us</a></dd>
                <dt>Will my submission automatically be listed?</dt>
                <dd>Nope. Every submission is manually reviewed. We accept / modify / reject submissions solely on our discretion.</dd>
            </dl>
        </div>
    </div>
</div>