---
layout: content-page
---

<h1 class="display-3">{{page.title}}</h1>
<div class="navbar navbar-light bg-light my-5">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="{{page.link}}/quick_join/" target="_blank">Join</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{page.link}}/members/" target="_blank">Members</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{page.link}}/messages/boards/" target="_blank">Message Board</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-sm-4">
        <a href="{{page.link}}" target="_blank">
            <img src="{{page.image}}" title="{{page.title}}" class="img-flex" />
        </a>
        <div class="my-2">
            <span class="fa fa-map-marker"></span>
            <a href="https://www.google.com/maps/place/{{ page.location | url_encode }}/" target="_blank">
                {{page.location}}
            </a>
        </div>
        
    </div>
    <div class="col-sm-8">
        {{content}}
        <a href="{{page.link}}" class="btn btn-secondary" target="_blank">
            Group Page
        </a>
        <h3>Upcoming Events</h3>
        <div class="meetup-event--container" data-meetup-id="{{page.link | remove: 'https://www.meetup.com'}}">
            <div class="my-5 meetup-event--oauth text-center">
                <a href="https://secure.meetup.com/oauth2/authorize?client_id=ehllabo2ftktd6g3cfj5b48gsr&response_type=token&redirect_uri=https://adobecommunity.org/meetup-auth.html" class="btn btn-secondary meetup-event--button">
                    Connect to Meetup for Events
                </a>
            </div>
        </div>
    </div>
 
</div>