---
layout: default
---

<div class="row">
    <div class="col-12 background--img" style="background-image: url({{page.background_image}})">
        <div class="background--opaque">
            <div class="jumbotron">    
                <h1 class="display-3">{{page.header}}</h1>
                <p class="lead">
                    {{page.lead}}
                </p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{page.link}}" role="button">
                        {{page.cta}}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row separator background--dark"></div>
<div class="row">
    <div class="col-md-8">
        {% for event in site.events limit:2 %}
            {% include event-summary.html %} 
        {% endfor %}
    </div>
    <div class="col-md-4 my-2 community-posts background--white">
        <div class="my-4">
            <h3>Community Posts</h3>
            <hr class="my-2" />
            {% assign articles = site.articles | reverse %}
            {% for article in articles limit:3 %}
                {% include article-summary.html %} 
            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-4 home-content background--img text-center" style="background-image: url(/images/about-img.png)">
        <a href="/about.html" class="align-bottom btn btn-primary">
            Learn More About Us
        </a>
    </div>
</div>
{% capture page_path %}/{{page.path}}{% endcapture %}
{% for cb in site.contentblocks %}
    {% if cb.page == page_path %}
        {% include contentblock.html %}
    {% endif %}
{% endfor %}