---
layout: default
---

<div class="row  background--img background--shaded" style="background-image: url({{page.background_image}})">
    <div class="col-12">
        <div class="jumbotron">    
            <h1 class="display-3">{{page.header}}</h1>
            <p class="lead">
                {{page.lead}}
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{page.link}}" role="button">
                    {{page.cta}}
                </a>
            </p>
        </div>
    </div>
</div>
<div class="row separator background--dark"></div>
{% capture page_path %}/{{page.path}}{% endcapture %}
{% for cb in site.contentblocks %}
    {% if cb.page == page_path %}
        {% include contentblock.html %}
    {% endif %}
{% endfor %}
{{content}}
