<form class="github-contact-form my-4" action="#" method="get" data-analytics-id="Join AGC">
    <fieldset>
        <legend>Your Information</legend>
        <div class="form-group">
            <label for="firstName">First Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required="required" name="firstName" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" required="required" name="lastName" />
        </div>
        <div class="form-group">
            <label for="authorName">Your Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" required="required" name="authorEmail" />
        </div>
        <div class="form-group">
            <label for="phone">Your Phone</label>
            <input type="tel" class="form-control" name="phone" />
        </div>
        <div class="form-group">
            <label for="company">Current Company</label>
            <input type="text" class="form-control" name="company" />
        </div>
        <div class="form-group">
            <label for="role">Current Role</label>
            <select class="form-control" name="role">
                <option>Backend Developer Analyst</option>
                <option>Business Analyst</option>
                <option>Content Developer</option>
                <option>Data Scientist</option>
                <option>Designer / UX Architect</option>
                <option>Digital Analyst</option>>
                <option>Executive</option>
                <option>Marketing Manager</option>
                <option>Sales Director / Account Manager</option>
                <option>Web Developer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="products">Product Focus</label>
            <select class="form-control" name="products" multiple="multiple">
                <option>Adobe Analytics</option>
                <option>Adobe Audience Manager</option>
                <option>Adobe Campaign</option>
                <option>Adobe Experience Manager</option>
                <option>Adobe Media Optimizer</option>
                <option>Adobe Target</option>
            </select>
        </div>
    </fieldset>
    <fieldset>
        <legend>Supporting the AGC</legend>
        <div class="form-group">
            <label for="topics">What sort of AEM / CQ related topics are most interesting to you? What would you like to know/learn from this community?</label>
            <textarea name="topics" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="presentation">Are you available to speak/present and/or join on a panel discussion? If so, what subject/s are you most comfortable talking about?</label>
            <textarea name="presentation" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="organizing">Would you be interested in organizing, co-organizing, moderate or volunteer some events?</label>
            <textarea name="organizing" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="hosting">Do you have access to a venue? Would you be interested in hosting an event?</label>
            <textarea name="hosting" class="form-control"></textarea>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-success">Join AGC</button>
            <a href="/" class="btn btn-default">Cancel</a>
        </div>
    </fieldset>
</form>